.lista{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
    padding: 1rem;
    place-content: center;
}

.lista li {
    background: #f3f1ec;
    box-shadow: -3px 5px 21px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: -3px 5px 21px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 5px 21px -3px rgba(0,0,0,0.75);
    padding: .5rem;border-radius: 1rem;
}

.card-mesas{
    margin-left: 5rem;
    margin-right: 5rem;
    border: none;
}

.background{
    min-height: 100vh;
    background-image: url(../../../assets/imagens/rest.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.icons i{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5px;
    font-size: 23px;cursor: pointer;border-radius:30px;
}
.icons i:hover{
    top:-4px;
    box-shadow:0 4px 4px #afafaf;
    transition: all .2s ease-in-out;
}

.card-add{
    border-radius: 2rem;
    box-shadow: -3px 5px 21px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: -3px 5px 21px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 5px 21px -3px rgba(0,0,0,0.75);
}

.fade-transition {
    transition: opacity 0.5s ease-in-out;
  }
  
  .fade-in {
    opacity: 1;
  }
  
  .fade-out {
    opacity: 0;
  }

 