
table{
    width: 100%;
    max-width: 600px;
    min-width: 350px;
}
table thead th {
    padding: 10px;
    font-size: 1em;
    color: #000;
    font-weight: 600;
}
    
table tbody tr td {
    display: block;
    text-align: right;
    font-weight: 400;
    padding: 10px;
    position: relative;
}
    
table tbody tr {    
    margin-bottom: 10px;
    display: block;
    border: 1px solid #dad6eb;
}
    
table tbody tr:nth-child(odd) {    
    background: #f2f2f2;
}

table tbody tr td button {    
    display: inline-block;
    position: initial;
    transform: translate(0);
    width: 100%;

    border: none;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
    padding: .4rem 0;
}

textarea{
    background: transparent;
    border: none;
    text-align: right;
}
    
table thead {    
    display: none;
}
    
    
table tbody tr td:before {
    content: attr(data-title);
    position: absolute;
    left: 15px;
    display: block;
    font-weight: 600;
    font-size: 1em;
}

table tbody tr td button:hover, table tbody tr td button:focus {    
    background: #a795fe;
    cursor: pointer;
}

.tabela{
    overflow: auto; 
    white-space: nowrap;
    display: flex;
    gap: 1rem;
}

.editar{
    margin-bottom: -1rem;
}
    
@media all and (max-width: 750px) {
    
    table {
        border: none;
        min-width: 300px;
    }
    
}
.btn{
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}