<h4><b>Pedidos em Preparo:</b></h4> 

<ng-container *ngIf="!pedidos">
    <div style="text-align:center;padding: .8rem;font-size: 20px;border-radius: .3rem;" class="alert alert-warning" role="alert">
        Sem pedidos em preparo!
    </div>
</ng-container>

<ng-container *ngIf="pedidos">

    <div class="tabela"> 
        <table *ngFor="let pedidos of data">
            <thead>
                <tr>
                    <th>Mesa</th>
                   <th>Num Pedido</th>
                   <th>Item</th>
                   <th>Quantidade</th>            
                   <th>Observação</th>
                   <th>Valor</th>
                   <th>Horário do Pedido</th>
                   <th></th>
               </tr>
               </thead>
    
               <tbody>                   
                <tr style="border-radius:20px;">
                    <input type="hidden" name="idItens" value="{{pedidos.item.id}}">
                    <input type="hidden" name="idPedido" value="{{pedidos.id}}">
                    <td data-title="Mesa">{{pedidos.comanda.cliente.mesa.id}}</td>
                    <td data-title="Num Pedido">{{pedidos.id}}</td>
                    <td data-title="Item">{{pedidos.item.nome}}</td>
                    <td data-title="Quantidade">{{pedidos.quantidade}}</td>
                    <td data-title="Obs"><textarea rows="1" readonly>{{pedidos.observacao}}</textarea></td>
                    <td data-title="Valor">R$ {{pedidos.valor}}</td>
                    <td data-title="Horário">{{ pedidos.horarioPedido | date: 'HH:mm' }}</td>
                    <td class="editar">
                        <button (click)="openVerticallyCentered(content)" class='btn btn-info' data-toggle='modal' data-target="#alterarPedido">Editar</button>
                    </td>
                    <td>    
                        <button (click)="openVerticallyCentered(contentDelete)" class='btn btn-danger' data-toggle='modal' data-target='#cancelarPedido' style='margin-top: 10px;'>Cancelar</button>
                    </td>
                </tr>
            </tbody>

            <ng-template #content let-modal>
                <app-modal-update
                    idItem="{{pedidos.item.id}}"
                    [idPedido]="pedidos.id"
                    item="{{pedidos.item.nome}}"
                    quantidade="{{pedidos.quantidade}}"
                    observacao="{{pedidos.observacao}}"
                    valor="{{pedidos.item.preco}}"
                >
                </app-modal-update>
            </ng-template>
            
            <ng-template #contentDelete let-modal>
                <app-modal-delete
                    idPedido="{{pedidos.id}}"
                ></app-modal-delete>
            </ng-template>

        </table>
    </div>

</ng-container>


    

