
table{
    width: 100%;
}
table thead th {
    padding: 10px;
    font-size: 1em;
    color: #000;
    font-weight: 600;
}
    
table tbody tr td {
    display: table-cell;
    font-weight: 400;
    padding: 10px;
    text-align: left;
    position: relative;
}
    
table tbody tr {    
    border: none;
    display: table-row;
}
    
table tbody tr:nth-child(odd) {    
    background: #f2f2f2;
}

table tbody tr td button {    
    display: block;
    position: initial;
    transform: translate(0);
    width: 100%;

    border: none;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;;
    padding: .4rem 0;
}

textarea{
    background: transparent;
    border: none;
}
    
table thead {    
    display: table-header-group;
    font-weight: 500;
}
    
    
table tbody tr td:before {
    display: none;
}

table tbody tr td button:hover, table tbody tr td button:focus {    
    background: #a795fe;
    cursor: pointer;
}
    
@media all and (max-width: 750px) {
    .tabela{
        overflow: auto; 
        white-space: nowrap;
        display: flex;
        gap: 1rem;
    }
    
    table tbody tr td {
        display: block;
        text-align: right;
    }
    
    table tbody tr td:before {
        content: attr(data-title);
        position: absolute;
        left: 15px;
        display: block;
        font-weight: 600;
        font-size: 1em;
    }
    
    table {
        border: none;
        min-width: 280px;
    }
    
    table thead {
        display: none;
    }
    
    table tbody tr {
        margin-bottom: 10px;
        display: block;
        border: 1px solid #dad6eb;
    }

    table tbody tr td button {    
        display: inline-block;
        position: initial;
        transform: translate(0);
        width: 100%;
    
        border: none;
        border-radius: 20px;
        color: #fff;
        font-weight: 700;
        padding: .4rem 0;
    }
    .editar{
        margin-bottom: -1rem;
    }
    textarea{
        text-align: right;
    }
    
}
.btn{
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}