<footer class="text-white text-center text-lg-start bg-dark">
    <div class="container p-4">
      <div class="row mt-4">
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Sobre nós</h5>

          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum deleniti atque corrupti.
          </p>

          <p>
            Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
            molestias.
          </p>

          <div class="mt-4">
            
            <a type="button" class="btn btn-lg"><i class="bi bi-facebook text-info"></i></a>
            
            <a type="button" class="btn btn-lg"><i class="bi bi-instagram text-primary"></i></a>
            
            <a type="button" class="btn btn-lg"><i class="bi bi-envelope-at text-danger"></i></a>
            
            <a type="button" class="btn btn-lg"><i class="bi bi-whatsapp text-success"></i></a>
            
          </div>

          
        </div>
        
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <div style="display: flex; flex-direction: column; align-items: center;">
                <ul>
                    <li class="mb-1" >
                      <span >Rua 3b, chácara 30, Vicente Pires-DF</span>
                    </li>
                    <li class="mb-1">
                      <span>restaurante@gmail.com</span>
                    </li>
                    <li class="mb-1">
                      <span>(61) 99999-9999</span>
                    </li>
                </ul>
                
            </div>
          
          <div class="mt-4" style="display: flex; justify-content: center; align-content: center;">
            
            <img class="ms-3" src="assets/imagens/payment2.png">
            
            <img class="ms-3" src="assets/imagens/visa.png">
            
            <img class="ms-3" src="assets/imagens/elo.png" style="padding: .2rem;">
            
            <img class="ms-3" src="assets/imagens/pix.png" style="padding: .2rem;" width="70px" height="40px">
            
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Horários</h5>

          <table class="table text-center text-white table-dark">
            <tbody class="fw-normal">
              <tr>
                <td>Segunda - Quarta:</td>
                <td>15:00 - 23:00</td>
              </tr>
              <tr>
                <td>Quinta - Sabádo:</td>
                <td>10:00 - 02:00</td>
              </tr>
              <tr>
                <td>Domingo:</td>
                <td>9:00 - 00:00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      Comanda Digital
      
    </div>
</footer>
