<ng-container *ngIf="load">
    <app-loading></app-loading>
</ng-container>

<ng-container *ngIf="!load">
    <h4><b>Pedidos já entregues:</b></h4>  

<ng-container *ngIf="!pedidos">
   <div style="text-align:center;padding: .8rem;font-size: 20px;border-radius: .3rem;" class="alert alert-warning" role="alert">
       Ainda sem pedidos entregues!<br><br> Você só poderá fechar sua Comanda quando todos pedidos estiverem entregues
    </div> 
</ng-container>

<ng-container *ngIf="pedidos">
    <div class="tabela">
        <table *ngFor="let pedidos of dataE">
            <thead>
            <tr>
                <th>Mesa</th>
                <th>Num Pedido</th>
                <th>Pedido</th>
                <th>Quantidade</th>
                <th>Observação</th>
                <th>Valor</th>
                <th>Horário Pedido</th>
                <th>Horário Entrega</th>                      
                <th></th>
            </tr>
            </thead>
    
            <tbody>
                <tr style="border-radius:20px;background-color:rgba(220, 220, 220, 0.45)">
                    <input type="hidden" name="idItens" value="{{pedidos.item.id}}">
                    <input type="hidden" name="idPedido" value="{{pedidos.id}}">
                    <td data-title="Mesa">{{pedidos.comanda.cliente.mesa.id}}</td>
                    <td data-title="Num Pedido">{{pedidos.id}}</td>
                    <td data-title="Pedido">{{pedidos.item.nome}}</td>
                    <td data-title="Quantidade">{{pedidos.quantidade}}</td>
                    <td data-title="Obs"><textarea rows="1" readonly>{{pedidos.observacao}}</textarea></td>
                    <td data-title="Valor">R$ {{pedidos.valor}}</td>
                    <td data-title="Horário Pedido">{{pedidos.horarioPedido | date: 'HH:mm'}}</td>
                    <td data-title="Horário Entrega">{{pedidos.horarioEntrega | date: 'HH:mm'}}</td>
                        <td>
                            <button (click)="openVerticallyCentered(item)" class="btn btn-info">Ver no cardápio</button>
                        </td>
                        <td>
                            <button (click)="openVerticallyCentered(avaliar)" style="margin-top: -10px;" class="btn btn-success">Avaliar</button>
                        </td>
                </tr>
            </tbody> 

            <ng-template #item let-modal>
                <div class="modal-content"style="border-radius:5px;background-color:#f8f3e8;box-shadow: 0 0 40px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.2);">
                    <div class="modal-header">
                        <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
                    </div>
                    <div class="modal-body" style="display: flex; justify-content: center;">
                        <app-cards
                            [perfil]="perfil"
                            imagem="{{pedidos.item.imagem}}"
                            descricao="{{pedidos.item.descricao}}"
                            item="{{pedidos.item.nome}}"
                            [itemId]="pedidos.item.id"
                            preco="{{pedidos.item.preco}}"
                            btn="Pedir Novamente"
                        >
                        </app-cards>
                    </div> 
                </div>
            </ng-template>

            <ng-template #avaliar let-modal>
                <app-feedback
                    imagem="{{pedidos.item.imagem}}"
                    item="{{pedidos.item.nome}}"
                    [itemId]="pedidos.item.id"
                    [cpf]="pedidos.comanda.cliente.login"
                ></app-feedback>
            </ng-template>
        </table>
    
    
    </div>
    
    <table class="pagamento">
        <thead>
            <tr>
                <th>Valor Total <span style="margin-left: .2rem; cursor: pointer;" title="Apenas pedidos com Status 'Entregue' são contabilizados no Valor Total "><i class="bi bi-exclamation-circle-fill"></i></span></th>
            </tr>
        </thead>
        <tbody> 
            <tr id="pagamento">
                <td data-title = "Valor Total">R$ {{valorTotal}} <span style="margin-left: .2rem; cursor: pointer;" title="Apenas pedidos com Status 'Entregue' são contabilizados no Valor Total "><i class="bi bi-exclamation-circle-fill"></i></span></td>
                <td>
                    <button (click)="openVerticallyCenteredPagamento(pagamento)" class="btn btn-warning"  style="color: #000;">Pagamento</button>
                </td>
            </tr>
        </tbody> 

        <ng-template #pagamento let-modal>
           <div>
            <div class="modal-header">
                <h5 class="modal-title" id="gridModalLabel">Comanda {{idComanda}}</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
              </div>
            <div class="modal-body">
            
                  <input type="hidden" name="itemId" [(ngModel)]="idComanda">
                    
                    <ng-container *ngIf="mostrarErro">
                      <div class="alert alert-{{alert}}"><i class="{{icon}}"></i> {{erro}}</div>
                    </ng-container>
                    <div class="row" style="margin-top: .5rem;">
                      <div class="col-12 col-sm-12">
                        <label for="formaPagamento">Forma de Pagamento:</label>
                        <select class="form-control" name="formaPagamento">
                            <option value="">Selecione</option>
                            <option value="1">Crédito</option>
                            <option value="2">Débito</option>
                            <option value="3">Pix</option>
                        </select>
                      </div>
                    </div>
                    <div class="row" style="margin-top: 2rem;">  
                        <hr>
                      <div class="col-12 col-sm-12" style="text-align: end;" >
                          <label style="color: #5F758F;font-weight: 800;font-family: futura-lt-book;
        font-size: 20px;">Valor Total: R$ {{valorTotal}}</label>
                      </div>
                    </div>
                    <hr>
                    <div class="row" style="margin-top: 2rem;">  
                        <div class="col-12 col-sm-12" >
                            <p style="font-size: 14px;"><span style="color: red;font-size: 25px;">*</span> Para pagamentos em dinheiro se dirija ao Caixa.</p>
                        </div>
                      </div>
                  </div>
              <div class="modal-footer">
                <button (click)="realizarPagamento()" type="submit" class="btn btn-success" name="realizarPedido" id="realizarPedido">Realizar Pagamento</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="close()">Fechar</button>
              </div>  
           </div>
        </ng-template>
    </table>
</ng-container>
</ng-container>




