table{
    width: 100%;
    max-width: 600px;
    min-width: 350px;
}
table thead th {
    padding: 10px;
    font-size: 1em;
    color: #000;
    font-weight: 600;
}

table tbody tr td {
    display: block;
    text-align: right;
    font-weight: 400;
    padding: 10px;
    position: relative;
}

table tbody tr {    
    margin-bottom: 10px;
        display: block;
        border: 1px solid #dad6eb;
}

table tbody tr td button {    
    display: block;
    position: initial;
    transform: translate(0);
    width: 100%;

    border: none;
    border-radius: 20px;
    color: #fff;
    font-weight: 700;
    padding: .4rem 0;
}
table thead {
    display: none;
}
textarea{
    text-align: right;
}


table tbody tr td:before {
    content: attr(data-title);
        position: absolute;
        left: 15px;
        display: block;
        font-weight: 600;
        font-size: 1em;
}

table tbody tr td button:hover, table tbody tr td button:focus {
    cursor: pointer;
}

textarea{
    background: transparent;
    border: none;
}

.tabela{
    overflow: auto; 
    white-space: nowrap;
    display: flex;
    gap: 1rem;
}
.pagamento{
    width: 100%;
}

@media all and (min-width: 750px){
    .pagamento{
        margin-top: 1rem;
        width: 50%;
    }
    #pagamento td button{
        width: 100%;
    }
}

@media all and (max-width: 850px) {
    .tabela{
        overflow: auto; 
        white-space: nowrap;
        display: flex;
        gap: 1rem;
    }
    .pagamento{
        width: 100%;
    }
    table tbody tr td {
        display: block;
        text-align: right;
    }

    table tbody tr td:before {
        content: attr(data-title);
        position: absolute;
        left: 15px;
        display: block;
        font-weight: 600;
        font-size: 1em;
    }

    table {
        min-width: 300px;
        border: none;
    }

    table thead {
        display: none;
    }

    table tbody tr {
        margin-bottom: 10px;
        display: block;
        border: 1px solid #dad6eb;
    }
    textarea{
        text-align: right;
    }


}