<ng-container *ngIf="load">
    <app-loading></app-loading>
</ng-container>

<ng-container *ngIf="!load">
    <h4><b>Pedidos já entregues:</b></h4>  

<ng-container *ngIf="!pedidos">
   <div style="text-align:center;padding: .8rem;font-size: 20px;border-radius: .3rem;" class="alert alert-warning" role="alert">
       Ainda sem pedidos entregues!<br><br> Você só poderá fechar sua Comanda quando todos pedidos estiverem entregues
    </div> 
</ng-container>

<ng-container *ngIf="pedidos">
    <div class="tabela">
        <table *ngFor="let pedidos of dataE">
            <thead>
            <tr>
                <th>Num Pedido</th>
                <th>Pedido</th>
                <th>Quantidade</th>
                <th>Observação</th>
                <th>Valor</th>
                <th>Horário Pedido</th>
                <th>Horário Entrega</th>                      
                <th></th>
            </tr>
            </thead>
    
            <tbody>
                <tr style="border-radius:20px;background-color:rgba(220, 220, 220, 0.45)">
                    <input type="hidden" name="idItens" value="{{pedidos.item.id}}">
                    <input type="hidden" name="idPedido" value="{{pedidos.id}}">
                    <td data-title="Num Pedido">{{pedidos.id}}</td>
                    <td data-title="Pedido">{{pedidos.item.nome}}</td>
                    <td data-title="Quantidade">{{pedidos.quantidade}}</td>
                    <td data-title="Obs"><textarea rows="1" readonly>{{pedidos.observacao}}</textarea></td>
                    <td data-title="Valor">R$ {{pedidos.valor}}</td>
                    <td data-title="Horário Pedido">{{pedidos.horarioPedido | date: 'HH:mm'}}</td>
                    <td data-title="Horário Entrega">{{pedidos.horarioEntrega | date: 'HH:mm'}}</td>
                        <td>
                            <button (click)="openVerticallyCentered(item)" class="btn btn-info">Ver no cardápio</button>
                        </td>
                        <td>
                            <button (click)="openVerticallyCentered(avaliar)" style="margin-top: -10px;" class="btn btn-success">Avaliar</button>
                        </td>
                </tr>
            </tbody> 

            <ng-template #item let-modal>
                <div class="modal-content"style="border-radius:5px;background-color:#f8f3e8;box-shadow: 0 0 40px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.2);">
                    <div class="modal-header">
                        <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
                    </div>
                    <div class="modal-body" style="display: flex; justify-content: center;">
                        <app-cards
                            imagem="{{pedidos.item.imagem}}"
                            descricao="{{pedidos.item.descricao}}"
                            item="{{pedidos.item.nome}}"
                            [itemId]="pedidos.item.id"
                            preco="{{pedidos.item.preco}}"
                            btn="Pedir Novamente"
                        >
                        </app-cards>
                    </div> 
                </div>
            </ng-template>

            <ng-template #avaliar let-modal>
                <app-feedback
                    imagem="{{pedidos.item.imagem}}"
                    item="{{pedidos.item.nome}}"
                    itemId="{{pedidos.item.id}}"
                ></app-feedback>
            </ng-template>
        </table>
    
    
    </div>
    
    <table class="pagamento">
        <thead>
            <tr>
                <th>Valor Total </th>
            </tr>
        </thead>
        <tbody> 
            <tr id="pagamento">
                <td data-title = "Valor Total">R$ {{dataF.valorTotal}} </td>
                <td>
                    <button class="btn btn-warning" style="color: #000;">Pagamento</button>
                </td>
            </tr>
        </tbody> 
    </table>
</ng-container>
</ng-container>




