
<ng-container *ngIf="load">
    <app-loading></app-loading>
</ng-container>

<ng-container *ngIf="perfil == 3">
    <button (click)="openVerticallyCentered(adicionarItem)" style="margin-left:15px" class="btn btn-info" type="button" data-toggle="modal" data-target="#adicionarItem">Adicionar item <i class="bi bi-plus-circle"></i></button>  
    
    <ng-template #adicionarItem let-modal>
            <app-model-adicionar-item></app-model-adicionar-item>
    </ng-template>
</ng-container>

<ng-container *ngIf="!load">
    <div class="btn_comanda" *ngIf="perfil == 1">
        <a [routerLink]="['comanda']" title="Sua Comanda" class="comanda btn btn-success" style="font-size: 30px;">
          <i class="bi bi-receipt-cutoff"></i> 
          <!--<span style="font-size:15px;border-radius:10px;color:black" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning">
              2 </span>-->
        </a>
    </div>
    <div class="cards">
        <ng-container *ngIf="itens">
    
            <app-cards *ngFor="let itens of data"
                item="{{itens.nome}}"
                [itemId]= "itens.id"
                descricao="{{itens.descricao}}"
                [statusIdItem]="itens.status.id"
                imagem="{{itens.imagem}}"
                preco= {{itens.preco}}
                [perfil]="perfil"
                [categoria]="categoria">
            </app-cards>  
        </ng-container>

        <ng-container *ngIf="itens && perfil == 3">
            <app-cards *ngFor="let itens of dataDesativados"
                item="{{itens.nome}}"
                [itemId]= "itens.id"
                descricao="{{itens.descricao}}"
                [statusIdItem]="itens.status.id"
                imagem="{{itens.imagem}}"
                preco= {{itens.preco}}
                [perfil]="perfil"
                [categoria]="categoria">
            </app-cards>  
        </ng-container>
    </div>
    
    <ng-container *ngIf="msg">
        <app-msg txt="{{txt}}" show="{{show}}"></app-msg>
    </ng-container>
    
    <ng-container *ngIf="!itens">
        <div style="text-align:center; margin: .5rem; padding: 1rem; font-size: 22px;" class="alert alert-warning" role="alert">Categoria sem produtos!!</div>
    </ng-container>

</ng-container>
    



