.comanda{
    margin-left: 90%;
    position:fixed;
    width:65px;
    height:50px;
    bottom:30px;
    right:30px;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 1px 1px 2px #888;
    z-index:999;
}
.btn_comanda > a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 2rem;
    padding: 1rem;
    place-content: center;
}
@media screen and (max-width: 800px ) {
    .cards{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.7rem;
      padding: 1rem;
    }
    #snackbar {
        bottom: 5rem; /* 30px from the bottom */
    }
}

@media screen and (max-width: 347px ) {
    .cards{
      display: grid;
      grid-template-columns: 1fr;
      gap: 0.7rem;
      padding: 1rem;
    }
}

#snackbar {
    min-width: 250px; /* Set a default minimum width */
    margin-left: -135px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: .6rem; /* Rounded borders */
    padding: 1rem; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 5.2rem; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.show {
    visibility: visible !important; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 5rem; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 5rem; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 5rem; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 5rem; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

