.comanda .data{
    background: transparent;border: 1px solid black; padding: .3rem;
  }
  
  .pedidos thead tr td{
    text-transform: uppercase;
    padding-left: 1rem;padding-right: 1rem; padding-top: .5rem;padding-bottom: .5rem;
  }
  
  .pedidos tbody tr td{
    padding-left: 1rem;padding-right: 1rem; padding-top: .3rem;padding-bottom: .3rem;
  }
  
  .table {
    margin-top: .5rem;
    border-collapse: collapse;
    -webkit-border-radius: .6rem;
       -moz-border-radius: .6rem;
            border-radius: .6rem;
            border:1px solid black;
    overflow: hidden;
  }
  
  .row{
    padding-top: .5rem;
  }
  
  .footer{
    padding-bottom: 1rem;
  }

  .cancelado{
    text-decoration: line-through;
  }

  

  @media all and (max-width: 450px) {
    .comanda{
      width: 350px;
    }
    .status{
      display:none;
    }
  }

  .pedido{
    cursor: pointer;
  }

  .pedido:hover {
    background-color: #f0f0f0; /* Muda a cor de fundo ao passar o mouse */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra leve */
  }

  img{
    width:90%;
    border-radius: .5rem;
    margin-bottom: 1.5rem;
}