<div class="comanda" style="padding: .5rem;background-color: rgb(236, 236, 236);">
    <div class="corpo" style="border: 1px solid black;padding: .5rem;border-radius: 1rem;">
        {{idComanda}}
        <div class="header" style="margin: .5rem;">
            <div class="row">
                <div class="col-12 col-md-12" style="margin-left: 12%;">
                    <label for="cliente">Cliente</label>
                    <input  [value]="nomeCliente" style="border-top-left-radius: 1rem;border-bottom-left-radius: 1rem; width: 70%;" type="text" name="cliente" id="cliente" class="data form-control" readonly>
                </div>
            </div>
            <div class="row">
                <div class="col-4 col-md-4">
                    <label for="data">Data</label>
                    <input style="border-top-left-radius: 1rem;border-bottom-left-radius: 1rem;" [value]="dataAbertura" type="text" name="data" id="data" class="data form-control" readonly>
                </div>

                <div class="col-4 col-md-4">
                    <label for="mesa">Mesa</label>
                    <input  [value]="idMesa" type="text" name="mesa" id="mesa" class="data form-control" readonly>
                </div>

                <div class="col-4 col-md-4">
                    <label for="mesa">Situação</label>
                    <input  [value]="status" style="border-top-right-radius: 1rem;border-bottom-right-radius: 1rem;" type="text" name="mesa" id="mesa" class="data form-control" readonly>
                </div>
            </div>
        </div>
        <div class="body" style="display: flex;justify-content: center;  max-height: 350px;overflow-y: auto;">
            <table class="pedidos table table-bordered" style="width: 98%;">
                <thead class="table-dark" style="color: azure;">
                    <tr>
                        <th scope="col">Item</th>
                        <th scope="col">Qnt</th>
                        <th scope="col">Valor</th>
                        <th class="status" scope="col">Status</th>
                    </tr>
                </thead>

                <tbody class="table-light"  style="height: 280px">
                    <tr class="pedido" (click)="openVerticallyCentered(pedido)" *ngFor="let p of pedidos">
                        <td>{{p.nomeItem}}</td>
                        <td>{{p.quantidade}}</td>
                        <td [ngClass]="{'cancelado': p.status.id == 6}">{{p.valor | currency:'BRL':'symbol':'1.2-2'}} </td>
                        <td class="status">{{p.status.status}}</td>

                        <ng-template #pedido let-modal>
                            <div class="modal-header">
                                <h2>{{p.nomeItem}}</h2>
                                <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
                            </div>
                            <div class="modal-body">

                                <div class="row img">
                                    <div class="col-12 col-sm-12" style="display: flex;justify-content: center;">
                                        <img src="assets/imagens/{{p.imagem}}">
                                    </div>
                                </div>
                                
                                <div class="row">

                                    <div class="col-6 col-md-6">
                                        <label for="status">Situação</label>
                                        <input style="border-top-left-radius: 1rem;border-bottom-left-radius: 1rem;"  [value]="p.status.status" type="text" name="status" id="status" class="data form-control" readonly>
                                    </div>

                                    <div class="col-6 col-md-6">
                                        <label for="horarioPedido">Horário do Pedido</label>
                                        <input  [value]="p.horarioPedido" style="border-top-right-radius: 1rem;border-bottom-right-radius: 1rem;" type="text" name="horarioPedido" id="horarioPedido" class="data form-control" readonly>
                                    </div>
                                   
                                </div>

                                <div class="row">
                                    <div class="col-4 col-md-4">
                                        <label for="data">Valor do Item</label>
                                        <input style="border-top-left-radius: 1rem;border-bottom-left-radius: 1rem;" [value]="'R$ '+p.precoItem" type="text" name="data" id="data" class="data form-control" readonly>
                                    </div>
                    
                                    <div class="col-4 col-md-4">
                                        <label for="mesa">Quantidade</label>
                                        <input style="text-align: center;" [value]="p.quantidade" type="text" name="mesa" id="mesa" class="data form-control" readonly>
                                    </div>
                    
                                    <div class="col-4 col-md-4">
                                        <label for="mesa">Valor Total</label>
                                        <input  [value]="'R$ '+ p.valor" style="border-top-right-radius: 1rem;border-bottom-right-radius: 1rem;" type="text" name="mesa" id="mesa" class="data form-control" readonly>
                                    </div>
                                </div>

                                <div class="row" style="display: flex;justify-content: center;">
                                    <div class="col-6 col-md-6" style="text-align: center;">
                                        <label for="horarioEntrega">Horário Entrega</label>
                                        <input [value]="p.horarioEntrega" style="border-radius: 1rem;border-bottom-right-radius: 1rem;text-align: center;" type="text" name="horarioEntrega" id="horarioEntrega" class="data form-control" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                
                            </div>
                           
                        </ng-template>

                    </tr>
                    <tr *ngIf="pedidos.length < 1">
                        <td colspan="4" >
                            <div style="text-align: center;" class="alert alert-warning">Sem pedidos</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="footer">
            <div class="row">
                <div class="col-6 col-md-6">
                    <label for="garcom">Garçom</label>
                    <input [value]="garcom" style="border-top-left-radius: 1rem;border-bottom-left-radius: 1rem;" type="text" name="garcom" id="garcom" class="data form-control" readonly>
                </div>

                <div class="col-6 col-md-6">
                    <label for="ValorT">Total <span style="margin-left: .2rem; cursor: pointer;" title="Apenas pedidos com Status 'Entregue' são contabilizados no Valor Total "><i class="bi bi-exclamation-circle-fill"></i></span></label>
                    <input [value]="'R$ '+ valorTotal" style="border-top-right-radius: 1rem;border-bottom-right-radius: 1rem;" type="text" name="ValorT" id="ValorT" class="data form-control" readonly>
                </div>
            </div>

            <div *ngIf="confirmarPagamento || fecharComanda && perfil != 1" class="row" style="display: flex; justify-content: center;">
                <div class="col-6 col-md-6" style="display: flex; justify-content: center;">
                    <button *ngIf="confirmarPagamento" class="btn btn-success">Confirmar Pagamento</button>
                    <button *ngIf="fecharComanda" class="btn btn-success">Fechar Comanda</button>
                </div>
            </div>

        </div>
    </div>
</div>