<div class="modal-header">
    <h4 class="modal-title">Mesa {{mesaId}} - Clientes</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">
    <div *ngIf="client" style="max-height: 400px;overflow-y: auto;">
        <ul class="responsive-table">
            <li class="table-header">
              <div class="col col-1">Nome</div>
              <div class="col col-2">CPF</div>
              <div class="col col-3">Telefone</div>
              <div class="col col-4">Ações</div>
            </li>
            <li class="table-row" *ngFor="let c of dataClientes">
              <div class="col col-1" data-label="Nome">{{c.nome}}</div>
              <div class="col col-2" data-label="CPF">{{c.login | formatarCpf}}</div>
              <div class="col col-3" data-label="Telefone" >{{c.telefone | formatarTelefone}}</div>
              <div class="col col-4" data-label="Ações">
                <i (click)="verComanda(c.login)" title="Ver Comanda" style="color: green; margin-right: .5rem;font-size: 23px;cursor: pointer;" class="bi bi-receipt-cutoff"></i>
              </div>
            </li>
        </ul>
    </div>

    <div *ngIf="comanda">
        <i (click)="visualizarClientes(mesaId)" class="bi bi-arrow-left-circle" style="font-size: 23px; margin-top: -20px;cursor: pointer;"></i>
        <div class="rolagem" style="max-height: 400px;overflow-y: auto;">
            <table class="table" style="position: sticky;top: 0;" >
                <thead>
                    <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{dataComandaCliente.cliente.nome}}</td>
                        <td>{{dataComandaCliente.cliente.login | formatarCpf}}</td>
                        <td>{{dataComandaCliente.valorTotal}}</td>
                        <td>{{dataComandaCliente.status}}</td>
                    </tr>
                </tbody>
            </table>

            <ul class="responsive-table3">
                <li class="table-header">
                    <div class="col col-1">Item</div>
                  <div class="col col-2">Quantidade</div>
                  <div class="col col-3">Valor</div>
                  <div class="col col-4">Hora do Pedido</div>
                  <div class="col col-5">Status</div>
                </li>
                <li class="table-row" *ngFor="let p of dataComandaCliente.pedidos">
                  <div class="col col-1" data-label="Item">{{p.nomeItem}}</div>
                  <div class="col col-2" data-label="Quantidade">{{p.quantidade}}</div>
                  <div class="col col-3" data-label="Valor" >R$ {{p.valor}}</div>
                  <div class="col col-4" data-label="Hora do Pedido">{{p.horarioPedido | date: 'dd/MM HH:mm'}} </div>
                  <div class="col col-5" data-label="Status"> {{p.status.status}} <i ></i></div>
                </li>
            </ul>
        </div>
    </div> 
    <ng-container *ngIf="mostrarErro">
        <div [ngClass]="{'animate__bounceIn':mostrarErro}" class="alert alert-{{alert}}"><i class="{{icon}}"></i> {{erro}}</div>
     </ng-container>   
</div>
