<div class="container-fluid">
  <h1>Destaques do Nosso Cardápio</h1>

    <section id="sliderhome">
        <div id="meuSlider" class="carousel slide align-items-center" data-ride="carousel">
          <div class="carousel-inner  mx-auto text-center">
            <div class="item active"><img class="img-responsive slider" src="https://img.freepik.com/free-vector/happy-hour-lettering-chalkboard_23-2148270465.jpg?w=1380&t=st=1693872164~exp=1693872764~hmac=8120b2f223c4aace12dd6d9c4fb573012e86505d83a22fc28563db9017c472a2"></div>
          </div>
          <a class="left carousel-control" href="#meuSlider" data-slide="prev"></a>
          <a class="right carousel-control" href="#meuSlider" data-slide="next"><span class=""></span></a>
        </div>
    </section>

</div>
