<div class="container-fluid">
  <h1>Destaques do Nosso Cardápio</h1>

    <section id="sliderhome">
        <div id="meuSlider" class="carousel slide align-items-center" data-ride="carousel">
          <div class="carousel-inner  mx-auto text-center">
            <div class="item active"><img class="img-responsive slider" src="assets/imagens/happyhour.jpg"></div>
          </div>
          <a class="left carousel-control" href="#meuSlider" data-slide="prev"></a>
          <a class="right carousel-control" href="#meuSlider" data-slide="next"><span class=""></span></a>
        </div>
    </section>

</div>
