/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
body{
  background-color: #E5E5E5;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
  list-style: none;
}
h2{
    font-family: "Kalam", cursive;
    font-weight: normal;
    font-size: 1.8rem;
    color: #4a4a7d;
  }
  h5{
    font-family: "Kalam", cursive;
    font-weight: 600;
    font-size: 1.5rem;
    color: #e7880c;
  }

  .custom-modal-comanda-item .modal-dialog {
    padding: 0;
    width: 300px;
    margin: 0 auto;
    display: flex; justify-content: center;
  }

  .custom .modal-content{
    border-radius:20px;
    background: #f8f3e8;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.2);
  }

  .customMesa .modal-content{
    border-radius:20px;
    background: #f5f3f0;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.2);
  }

  .custom .modal-content{
      input, select, textarea{
        background: #f8f3e8;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
      }
  
      input:hover, select:hover, textarea:hover{
          top:-4px;box-shadow:0 4px 4px #999;
          transition: all .2s ease-in-out;
      }
      
      input:focus, select:focus, textarea:focus{
          background: #f8f3e8;
      }
      select{
          cursor: pointer;
      }
      h3{
        font-family: Kalam,cursive;font-weight:600;color:#e7880c;text-align:center
    }
    .row{
        margin-top: .5rem;
    }

    .alert-warning{
        color: #5F758F;font-weight: 800;font-family: futura-lt-book;
        font-size: 20px;
    }
  }
