
  
  .rating{
    /*transform: translate(-50%,-50%) rotateY(180deg);*/
    display: flex;
    justify-content: center;
  }
  
  .rating input{
    display: none;
  }

i{
    margin: .5rem;
    font-size: 30px;
}
.bi-star-fill{
    color: #CCCC00;
}

img{
    width:100%;
    border-radius: .5rem;
    margin-bottom: 1.5rem;
}

.quantidade{
    margin-left: .7rem;
    margin-right: .7rem;
}

.obs{
    margin-top: 1rem;
}

@media screen and (min-width: 1150px ){
    .quantidade{
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    
}

#vai-tremer {
    /* animacao */
    animation: tremer .2s;
    animation-iteration-count: 4;
}
/* keyframe para ajustar até onde treme */
@keyframes tremer {
    0% {margin-left: 0;}
    25% {margin-left: 7px;}
    50% {margin-left: 0;}
    75% {margin-left: -7px;}
    100% {margin-left: 0;}
}