<div class="modal-content" style=" border-radius:5px;background-color:#f8f3e8;box-shadow: 0 0 40px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.2);">     
    <div class="modal-header">
        <input type="hidden" name="itemId" [(ngModel)]="itemId">
        <h5 class="modal-title" id="gridModalLabel">Avalie este item</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
    </div>

    <div class="modal-body">
        <div class="row-img">
            <div class="col-12 col-sm-12">
                <img src="assets/imagens/{{imagem}}">
            </div>
        </div>
        <div class="row">
            <div id="{{campo}}" class="rating">
                <span style="font-size: 30px;color: red;">*</span>
                <input *ngFor="let star of stars" type="radio" name="star" [value]="star" id="star{{star}}"
                    [(ngModel)]="selectedStar" >
                <i (click)="onStarClicked(star)" *ngFor="let star of stars" [class]="star <= selectedStar ? 'bi bi-star-fill' : 'bi bi-star'"></i> 
               
            </div>
        </div>
        <div class="row">
            <label for="comentario">Seu feedback:</label>
        </div>
        <div class="row" style="display: flex;justify-content: center;">
            <textarea [(ngModel)]="feedback" style="background: transparent; width: 95%;" class="form-control" name="comentario" rows="3" placeholder="Caso queira deixe seu feedback"></textarea>
        </div>
        <div class="row" style="display: flex;justify-content: center;margin-top: .5rem;">
            <button (click)="submitRating()" style="width: 50%;" class="btn btn-success">Enviar</button>
        </div>
    </div>
         
</div>