<div class="modal-content" style=" border-radius:5px;background-color:#f8f3e8;box-shadow: 0 0 40px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.2);">     
    <div class="modal-header">
        <input type="hidden" name="itemId" [(ngModel)]="itemId">
        <h5 class="modal-title" id="gridModalLabel">Avalie este item</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
    </div>

    <div class="modal-body">
        <div class="row-img">
            <div class="col-12 col-sm-12">
                <img src="assets/imagens/{{imagem}}">
            </div>
        </div>
        <div class="row">
            <div class="rating">
                <input type="radio" name="star" id="star1"><i class="bi bi-star"></i>
                <input type="radio" name="star" id="star2"><i class="bi bi-star"></i>
                <input type="radio" name="star" id="star3"><i class="bi bi-star"></i>
                <input type="radio" name="star" id="star4"><i class="bi bi-star-fill"></i>
                <input type="radio" name="star" id="star5"><i  class="bi bi-star-fill"></i>
            </div>
        </div>
        <div class="row">
            <label for="comentario">Seu feedback:</label>
        </div>
        <div class="row" style="display: flex;justify-content: center;">
            <textarea style="background: transparent; width: 95%;" class="form-control" name="comentario" rows="3"></textarea>
        </div>
        <div class="row" style="display: flex;justify-content: center;margin-top: .5rem;">
            <button style="width: 50%;" class="btn btn-success">Enviar</button>
        </div>
    </div>
         
</div>