.dropbtn {
    background-color: #7700C8;
    color: white;
    padding: .3rem .6rem;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5rem;
  }
  .dropdown {
    margin-top:1rem;
    margin-left: 85%;
    position: relative;
    display: inline-block;
   
}

.dropdown-content {
    display: none;
    position: absolute;
    padding:5px;
   margin-left:-130px;
    background-color: #f9f9f9;
    min-width: 180px;
    
    box-shadow: 0px 8px 16px 0px rgb(119,0,200,0.3);
    z-index: 1100;
    border-radius: 20px 0px 20px 20px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}