
<div class="dropdown">
    <button class="dropbtn"><i style="font-size:22px" class="bi bi-person"></i></button>
    <div class="dropdown-content">
      <span  style="font-size:15px; width: 100%;padding: 0;" class="btn btn-secondary">{{nome}}</span>
      <ng-container *ngIf="perfil == 1">
        <span style="text-align: center;width: 100%;padding: 0;" class="btn">Mesa {{mesa}}</span>
        <a>Ver Comanda</a>
      </ng-container>
      <ng-container *ngIf="perfil == 3">
        <span style="text-align: center;width: 100%;padding: 0;" class="btn">Gerente</span>
        <hr style="margin: .2rem;">
        <div>
          <a >Funcionários</a>
          <a [routerLink]="['/cardapio']">Cardápio</a>
          <a [routerLink]="['/cardapio']">Comandas</a>
          <a [routerLink]="['/mesas']">Mesas</a>
          <a>Pedidos</a>
        </div>
      </ng-container>
      <hr style="margin: .2rem;">
      
      <a>Meus Dados</a>
    
      <button [routerLink]="['/']" style="margin:1px;margin-top:10px;border-radius:40px; width: 100%;" class="btn btn-danger btn-sm btn-block" name="sair">Sair</button>

    </div>
</div>
