
@media screen and (max-width: 750px ) {
    
    .btnC{
        border-radius: 10px;
        width: 100%;
      }
}

button{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
}

button:hover{
  top:-4px;box-shadow:0 4px 4px #999;
  transition: all .2s ease-in-out
}

.cardi {
    height: fit-content;
    display: flex;
    flex-direction: column;
    background: #f8f3e8;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    max-width: 350px;
  }
  
  .cardi > img {
    width: 100%;
    height: auto;
    aspect-ratio: 600/400;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .cardi > h4 {
    margin-top: 1rem;
    font-family: "Kalam", cursive;
    font-weight: 600;
    font-size: 1.7rem;
    color: #4a4a7d;
    text-align: center;
  }
  
  .cardi > p {
    font-family: "Kalam", cursive;
    font-size: 1rem;
    color: #5e5e89;
    text-align: left;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.4rem;
  }
  .card-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .btnC{
    border-radius: .6rem;
    width: 80%;
    margin-bottom: 1rem;
  }
  textarea{
    background: transparent;
    border: none;
    padding: .5rem;
  }