
    <div class="cardi h-100">   
      <input type="hidden" name="id" value="{{itemId}}">          
        <img name="imagem" id="imagem" src="assets/imagens/{{imagem}}"/>
        <h4 name="item" id="item">{{item}}</h4>
        <textarea class="form-control" rows="4" name="descricao" id="descricao" readonly>{{descricao}}</textarea>
        <p name="preco" id="preco"><b>Valor: R$ {{preco}}</b></p>
        <hr style="background-color: black">
        <div class="card-footer">
          <button (click)="openVerticallyCentered(pedido)" class="btn btn-success btnC" data-toggle="modal" data-target="#pedido">Fazer Pedido</button>                    
        </div>
    </div>    
    

<ng-template #pedido let-modal>
  <app-model-pedido
    item="{{item}}"
    itemId="{{itemId}}"
    imagem="{{imagem}}"
    valor="{{preco}}">
  </app-model-pedido>
</ng-template>
