<div style="margin-top: 4rem;" class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
           
            <div class="card">
                <div class="card-body" style="text-align: center;">
                    <form #MesaForm="ngForm" (ngSubmit)="onSubmit()">
                        <div class="card-tittle">Adicionar mesas:</div>
                        <label>Insira o número da Mesa:</label>
                        <ng-container *ngIf="mostrarErro">
                            <div class="alert alert-{{alert}}"><i class="{{icon}}"></i> {{erro}}</div>
                        </ng-container>
                        <input class="form-control" type="text" name="mesa" id="mesa" [(ngModel)]="id">
                        <button type="submit" class="btn btn-primary" style="width: 60%;margin-top: 1rem;">Adicionar</button>
                    </form>
                    
                </div>
            </div>
<br>
            <div class="card">
                <div class="card-body">
                    <div class="card-tittle">Mesas:</div>
                    <hr>
                    <ul class="lista">
                            <li *ngFor="let mesa of data" style="box-shadow: -3px 5px 21px -3px rgba(0,0,0,0.75);
                            -webkit-box-shadow: -3px 5px 21px -3px rgba(0,0,0,0.75);
                            -moz-box-shadow: -3px 5px 21px -3px rgba(0,0,0,0.75);padding: .5rem;border-radius: 1rem;">
                                <p style="text-align: center; font-size: 18px; font-weight: 600;">Mesa {{ mesa.id }}</p>
                                <p>Garçom: {{ mesa.garcom }}</p>
                                <p>QR: {{ mesa.qr_code }}</p>
                                <p>Status: {{ mesa.status.status }}</p>
                                <hr>
                                <div class="icons" style="display: flex; justify-content: end;">
                                    <i (click)="openVerticallyCentered(content, mesa.id)" style="font-size: 23px;color: red;cursor: pointer;" class="bi bi-trash"></i>
                                </div>
                                
                              </li>
                        
                      </ul>

                    <div *ngIf="!data || data.length === 0">
                        <p>Nenhuma mesa encontrada.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <ng-container *ngIf="excluirMesa">
        <div class="modal-content" style="border-radius: 1rem;">
            <div class="modal-header">
                <h4 class="modal-title">Excluir Mesa {{mesaSelect}} ?</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
        
            <div class="modal-footer justify-content-md-center">
                <button (click)="deleletMesas(mesaSelect)" class="btn btn-success">Excluir</button>
                <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cancelar</button>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="!excluirMesa">
        <div class="modal-header">
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="alert alert-{{alert}}"><i class="{{icon}}"></i> {{erro}}</div>
        </div>
       
    </ng-container>
  
</ng-template>
