img{
    width:100%;
    border-radius: .5rem;
    margin-bottom: 1.5rem;
}

.quantidade{
    margin-left: .7rem;
    margin-right: .7rem;
}

.obs{
    margin-top: 1rem;
}

@media screen and (min-width: 1150px ){
    .quantidade{
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    
}

input, select, textarea{
    background: #f8f3e8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
}

input:hover, select:hover, textarea:hover{
    top:-4px;box-shadow:0 4px 4px #999;
    transition: all .2s ease-in-out
}

input:focus, select:focus, textarea:focus{
    background: #f8f3e8;
}