.responsive-table {
    width: 100%;
    margin-left: -18px;
    li {
      border-radius: 3px;
      padding: 15px 20px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    .table-header {
      background-color: #dce8e9;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
      border-radius: 5px;
      padding: .8rem;
      .col{
        font-weight: 700;
      }
    }
    .table-row {
        border-radius: 5px;
        background: #f8f3e8;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
      padding: .8rem;
    }
    .table-row:hover{
        top:-4px;
        box-shadow:0 4px 4px #999;
        transition: all .2s ease-in-out
    }
    .col-1 {
      flex-basis: 50%;
      text-align: center;
    }
    .col-2 {
      flex-basis: 50%;
      text-align: center;
    }
}